@model IEnumerable<Prover_Web.Models.Cliente>

<h3 style="align-items:center">Edite seu Perfil</h3>

<form asp-controller="Clientes" asp-action="EditarPorNome">
    <input type="text" name="nome" placeholder="Digite seu nome ">
    <input class="btn btn-dark" type="submit" value="Pesquisar">
</form>
<br>
<table class="table table-dark table-striped">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Nome)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Cpf)
			</th>
			<th></th>

		</tr>
	</thead>
  <tbody>
		@foreach (var item in Model)
		{
					<tr>
					<td>@item.Nome</td>
					<td>@item.Cpf</td>
				    <td><a asp-action="Editar" asp-route-id="@item.Id">Editar</a></td>
					</tr>
		}
	</tbody>

</table>