@{
    ViewData["Title"] = "Home Page";
}


@model List<Prover_Web.Models.Cliente>

<h1>Lista de Vendedores</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Descriçao</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Nome</td>
                <td>@cliente.Cpf</td>
                <td>@cliente.Telefone</td>
                <td>@cliente.Descricao</td>
                <td>@cliente.Categoria</td>

            </tr>
        }
    </tbody>
</table>

