@model IEnumerable<Prover_Web.Models.Cliente>

<h3 style="align-items:center">Pesquisa de ativos </h3>

<form asp-controller="Relatorios" asp-action="PesquisarPorNome">
	<input type="text" name="nome" placeholder="Digite seu nome ">
	<input class="btn btn-dark" type="submit" value="Pesquisar">
</form>
<br>
<table class="table table-hover">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Nome)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Cpf)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Telefone)
			</th>
			<td>
				@Html.DisplayNameFor(model => model.Descricao)
			</td>
			<td>@Html.DisplayNameFor(model => model.Rendimento)
			</td>
			<th>


			 </th>
		</tr>
	</thead>
	<tbody>
  <tbody>
			@foreach (var item in Model)
			{
								<tr>
									<td>@item.Nome</td>
									<td>@item.Cpf</td>
									<td>@item.Telefone</td> 
									<td>@item.Descricao</td>
									<td>@item.Categoria</td>
									<td>@item.Rendimento</td>
									<td>
											<a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
											<a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
											<a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
									</td>
								</tr>
			}
	</tbody>